html {
	height: 100%;
	margin: 0;
}
body {
	background: #333;
	color: #eee;
	margin: 0;
	height: 100%;
}
a {
	color: lightblue;
}
textarea, input {
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid #eee;
	color: #eee;
	padding: 4px 8px;
}
textarea {
	width: 400px;
	height: 180px;
	max-width: calc(100% - 40px);
}
.head label {
	display: block;
}
h1 {
	margin: 0 0 20px;
}
.linkList {
	list-style-type: none;
	box-sizing: border-box;
	float: left;
	margin: 0;
	padding: 20px;
	height: 100%;
	width: 230px;
	overflow: auto;
	background-color: rgba(0, 0, 0, .4);
	box-shadow: 2px 0px 5px rgba(0, 0, 0, .4);
}
.payload {
	padding: 0;
	margin: 0;
	overflow: auto;
	max-height: 100%;
}
.payload > li {
	padding: 20px;
	display: none;
}
.payload > li:target {
	display: block;
}
.runtime[data-time]::before {
	content: " (" attr(data-time) " ms)";
}